<html>
<head>
	<meta charset="UTF-8">
	<title>Marionette.CompoundView</title>

	<script src="assets/scripts/bower/jquery/jquery.js"></script>
	<script src="assets/scripts/bower/underscore/underscore.js"></script>
	<script src="assets/scripts/bower/backbone/backbone.js"></script>
	<script src="assets/scripts/bower/bacon/dist/Bacon.min.js"></script>
	<script src="assets/scripts/bower/bacon.jquery/dist/bacon.jquery.min.js"></script>
	<script src="assets/scripts/bower/backbone.marionette/lib/backbone.marionette.js"></script>
	<script src="build/concatenated.js"></script>


	<link rel="stylesheet" type="text/css" href="assets/scripts/bower/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Marionette.CompoundView</h1>
			</div>
		</div>
		<div id="compound-view-container">

		</div>
	</div>

	<script type="text/handlebars" id="compound-view">
		<div class="row">
			<div class="col-sm-4 list-view-container">
			</div>
			<div class="col-sm-8 single-element-container">
			</div>
		</div>
	</script>

	<script type="text/handlebars" id="list-item-view">
		<%= name %>
	</script>

	<script type="text/handlebars" id="item-view">
		<div class="panel-heading"><%= name %></div>
		<div class="panel-body">
			Population: <%= showNumber(population) %>
			Land Area: <%= showNumber(landArea) %>
		</div>
	</script>

	<script>
		var showNumber = function(nStr)
		{
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + "'" + '$2');
			}
			return x1 + x2;
		};

		MyApp = new Backbone.Marionette.Application();
		MyApp.addRegions(
			{
				compoundViewContainer: "#compound-view-container"
			}
		);

		var ListItemView = Backbone.Marionette.ItemView.extend(
			{
				tagName: 'li',
				className: 'list-group-item',
				template: '#list-item-view'
			}
		);

		var ItemView = Backbone.Marionette.ItemView.extend(
			{
				template: '#item-view',
				className: 'panel panel-default'
			}
		);

		var Model = Backbone.Model.extend();
		var Collection = Backbone.Collection.extend(
			{
				model: Model,
				comparator: function(model)
				{
					return model.get('name');
				}
			}
		);

		var collection = new Collection(
			[
				{name: 'Australia', population: 22.68e6, landArea: 7.618e6},
				{name: 'Switzerland', population: 7.997e6, landArea: 39997},
				{name: 'Italy', population: 60.92e6, landArea: 294140},
				{name: 'Argentina', population: 41.09e6, landArea: 2.737e6},
				{name: 'South Korea', population: 48.8e6, landArea: 98190}
			]
		);

		var cV = new Marionette.CompoundView(
			{
				itemView: ItemView,
				listItemView: ListItemView,
				collection: collection,
				template: '#compound-view',
				breakWidth: 750
			}
		);

		console.log(cV);


		$(document).ready(function()
			{
				MyApp.compoundViewContainer.show(cV);
			}
		);
	</script>
</body>
</html>
